<!DOCTYPE html>
<html>
    <head>
        <title>批注系统-首页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <H1>欢迎! </H1>
        <script src="../static/script/jquery.1.9.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <div class="row">
            <div class="span12">欢迎使用批注系统!</div>
            </div>
            <div class="row">
            <div class="span3">3</div>
                <p>概念概述

                <ul>
                    <li>细分情况1</li>
                    <li>细分情况2</li>
                </ul>

                概念总结</p>
            <div class="span7 offset2">7</div>
        </div>
    </body>
</html>
