<div  class ="container-fluid"><div class="row-fluid"><div  id="list" class="content span8 offset2">
	{% for r in list %}
      <p id="{{ r.key() }}"> {{ namedescription}}名称：<a class="name" href="/list/{{childtype}}/{{ r.key() }}">{% if listtype=="book" %}{{ r.name }}{% else %}{{ r.name }}{%- endif %}</a>{%- if listtype=="book" -%}&nbsp;作者： {{ r.author }}{% endif %}{% if listtype!="book" %}<button class="delete" onclick="deleteCell('{{ r.key() }}')">delete!</button><button class="update" onclick="showUpdateForm('{{ r.key() }}')">update.</button></p>{% endif %}
    {% endfor %}
		{%- block PageDivide -%}
		<div style="margin-left:auto;margin-right:auto;position:relative;text-align:center">
		第&nbsp;
		{%- for r in range(TotalListLength//20+1)-%}
		<a href="/list/{{ listtype }}/{{ fatherkey }}/{{ r+1 }}">{{ r+1 }}</a>&nbsp;
		
		{%- endfor -%}
		页</div></div></div>
		{% endblock %}
		{% block AddCell %}
        <div class="row-fluid" style="margin-top:1em;" >
            <div class="middle-wrapper">
		<form  style="" action="/add/{{ listtype }}/" method="get">
		{{ namedescription}}名称：<input type="text" name="elementname"/><br/>
		{% if listtype=="book" %}
		作者：<input type="text" name="author"/><br/>
		{% else %}
		在第<input type="text" name="insertafter" />个{{ namedescription}}后插入
		<input type="hidden" name="parentkey" value="{{ fatherkey }}"/>
		<input type="hidden" name="bookkey" value="{{ bookkey }}"/>
		{% endif %}
		<input type=submit value="提交">
		</form>
            </div>
            </div>
		{% endblock %}
		
</div>

<div style="visibility:hidden">
    <form id="DeleteForm" action="/delete/cell" method="post">
        <input type="hidden" name="parentKey" value="{%- if listtype=="book" %}{{ "" }}{% else %}{{ fatherkey }}{% endif %}"/>
        <input type="hidden" name="bookKey" value="{{ bookkey }}"/>
        <input type="hidden" name="key" value="" />
        <input type="hidden" name="cellType" value="{{ listtype }}">
    </form>
</div>

<div style="visibility:hidden;position:fixed;border:solid 1px;left:0px;top:300px;" id="UpdateDiv" >
    <form id="UpdateForm" ><!--action="/update/cell" method="post"> -->
        <input type="hidden" name="parentKey" value="{%- if listtype=="book" %}{{ "" }}{% else %}{{ fatherkey }}{% endif %}"/>
        <input type="hidden" name="bookKey" value="{{ bookkey }}"/>
        <input type="hidden" name="key" value="" />
        <input type="hidden" name="cellType" value="{{ listtype }}">
        新名称：<input type="text" name="newName" value="" />
        <br/>
        <button onclick="updateCell(); return false;">提交</button>
        <button onclick="UpdateDiv.style.visibility='hidden';return false;">关闭</button>
    </form>
</div>