
<div class="toolButtonWrapper" id="toolButtonWrapper">
<div class="btn " id="classReturnButton" >return</div><br/>
<div class="btn " id="classEntryAddButton" >add</div><br/>
<div class="btn " id="scrollUpButton">scroll up</div><br/>
<div class="btn" id="uploadPartButton">upload part</div><br/>
<div class="btn" id="toggleAllCommentButton">toggle comments</div><br/>
<div class="btn" id="refreshButton">refresh</div><br/>
<div class="btn" id="editParagraphButton">edit paragraph</div><br/>
<div class="btn" id="previousButton">previous</div>
<div class="btn" id="nextButton">next</div><br/>


</div>

